<ul class="social-icons">
  <li><a href="mailto:markus.dmitriy@gmail.com"> <i class="fa fa-envelope"></i> email</a></li>
  <li><a href="https://twitter.com/dimamarkus"> <i class="fa fa-twitter"></i> twitter</a></li>
  <li><a href="https://github.com/dimamarkus" > <i class="fa fa-github"></i>  github</a></li>
  <li><a href="https://codepen.io/dimamarkus"> <i class="fa fa-codepen"></i> codepen</a></li>
  <li><a href="https://mixcloud.com/dimamarkus"> <img src="/images/mixcloud-logo.png" alt=""> mixcloud</a></li>
</ul>