---
layout: knewton
permalink: knewton/
---

<div class="hero-image"></div>

{% include knewton/01-introduction.html %}

{% include knewton/02-experience.html %}

{% include knewton/03-communication.html %}

{% include knewton/04-skills.html %}

{% include knewton/05-stats.html %}

{% include knewton/06-bug_report.html %}

<section class="with-cta content-block">
  <div class="inner">
    <h5>Ready to work with Knewton.</h5>
    <a href="mailto:markus.dmitriy@gmail.com?subject=Re:%20UX Designer Position @ Knewton&body=Hi%20Dima,"  class="btn">Let's Arrange A Conversation <i class="fa fa-chevron-right"></i></a>
  </div>
</section>

<h6>P.S.</h6>
<a href=""  data-toggle="modal" data-target="#bugReportModal" class="alert-link">A note about knewton.com</a>





