$grey:          #d4dbe0;
$black:         #2a2a2a;

$primary-color: #00acb7;
$alert-color:   #ef5726;
$info-color:    #c1d252;
$warning-color: #f6b71e;
$success-color: #30bca2;
$text-color:    #4a4a4a;

$secondary-background: #f9fafc;
$footer-background: #20242f;