<footer class="content-block">
  <div class="inner">
    <ul>
      <li>Introduction</li>
      <li><a href="#introduction">Overview</a></li>
      <li><a href="#!"data-toggle="modal" data-target="#introModal">Why Me</a></li>
    </ul>
    <ul>
      <li>Relevant Experience</li>
      <li><a href="#experience">All</a></li>
      <li><a href="#exp-research">Research</a></li>
      <li><a href="#exp-uxdesign">UX Design</a></li>
      <li><a href="#exp-design">Visual Design</a></li>
      <li><a href="#exp-development">Full Stack Development</a></li>
    </ul>
    <ul>
      <li>Tech Skills</li>
      <li><a href="">UX Design</a></li>
    </ul>
    <ul>
      <li>About</li>
      <li><a href="">UX Design</a></li>
    </ul>
  </div>
</footer>