body {
  text-align: center;
}

.inner {
	max-width: 85%;
	margin: 0 auto;
}

section {
	padding: 3rem 2rem 1rem 2rem;
}

.blurb {
	@include media-query(1920px) {
		padding: 0 8rem;
	}
	@include media-query(1450px) {
		padding: 0 6rem;
	}
	@include media-query(800px) {
		padding: 0 4rem;
	}
	@include media-query(600px) {
		padding: 0 0;
	}
}