---
layout: knewton
permalink: knewton/
---

	{% include knewton/00-header.html %}

	<div class="page-wrap">
		<div class="hero-image"></div>

		{% include knewton/01-introduction.html %}
		{% include knewton/02-experience.html %}
		{% include knewton/03-communication.html %}
		{% include knewton/04-skills.html %}
		{% include knewton/05-stats.html %}

		<section id="contact" class="with-cta content-block">
		  <div class="inner">
		    <h5>Ready to work with Knewton.</h5>
		    <a href="mailto:markus.dmitriy@gmail.com?subject=Re:%20UX Designer Position @ Knewton&body=Hi%20Dima,"  class="email-cta btn">Let's Arrange A Conversation <i class="fa fa-chevron-right"></i></a>
		  </div>
		</section>

		<section class="content-block">
			<div class="inner">
				<h6 id="bug-report">P.S.</h6>
				<a href="/knewton/bug-report" class="alert-link">A note about knewton.com</a>
			</div>
		</section>

		{% include knewton/06-footer.html %}
	</div>

	{% include knewton/modals/introduction-modal.html %}
	{% include knewton/modals/development-modal.html %}