<header class="content-block">
  <div class="inner">
    <a href="/knewton"><img src="/images/knewton/logo.png" alt="" class="logo"></a>
    <a href="" class="btn hollow-button menu-btn"><i class="fa fa-bars"></i></a>
    <a href="mailto:markus.dmitriy@gmail.com?subject=Re:%20UX Designer Position @ Knewton&body=Hi%20Dima," class="btn email-cta cta">Email Me</a>
    <nav class="desktop-menu">
      <ul>
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#experience">Relevant Experience</a></li>
        <li><a href="#skills">Tech Skills</a></li>
        <li><a href="#stats">Stats</a></li>
      </ul>
    </nav>
    <div class="clearfix"></div>
    <nav class="mobile-menu">
      <ul>
        <li><a href="#introduction">Introduction</a></li>
        <li>
          <a href="#experience">Relevant Experience</a> <a href="" class="submenu-btn-plus">+</a><a href="" class="submenu-btn-minus">&mdash;</a>
            <nav class="mobile-submenu">
              <ul>
                <li><a {% if page.url == "/knewton/research/" %} class="active" {% endif %} href="/knewton/research">Research</a></li>
                <li><a {% if page.url == "/knewton/ux-design/" %} class="active" {% endif %} href="/knewton/ux-design">UX Design</a></li>
                <li><a {% if page.url == "/knewton/visual-design/" %} class="active" {% endif %} href="/knewton/visual-design">Visual Design</a></li>
                <li><a {% if page.url == "/knewton/#exp-development/" %} class="active" {% endif %} href="/knewton/#exp-development">Development</a></li>
              </ul>
            </nav>
        </li>
        <li><a href="#skills">Tech Skills</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </nav>
  </div>
</header>