<section id="introduction" class="introduction content-block">
  <div class="inner">
    <h1>Hi. I'd Like To Join Your Team.</h1>
    <p class="blurb">I'm a UX designer that builds his own ideas. <br><br> I have been designing and developing applications for students and administrators at a music school for 2 years and am ready to take the next step and apply my developed skillset at Knewton.</p>
    <a href="" class="btn hollow-button" data-toggle="modal" data-target="#introModal">Why am I right for Knewton? <i class="fa fa-chevron-right"></i></a>
  </div>
</section>

