<section id="experience" class="primary content-block">
  <div class="inner">
    <h2>Relevant Experience</h2>
    <p class="blurb">My determination to take responsibility for as much of a user’s experience as possible and my love to learn  have led to a wide range of experience and skills.</p>
    <article>
      <div class="experience-icon success"><i class="fa fa-search"></i></div>
      <h3>Research</h3>
      <p>Apply research and analytical know-how, including the gathering and analysis of data, to inform design decision. by conducting user interviews.</p>
      <a href=""><strong>See Examples</strong></a>
    </article>
    <article>
      <div class="experience-icon"><i class="fa fa-user"></i></div>
      <h3>UX Design</h3>
      <p>Create user-focused experiences by creating journey maps, wireframes, personas, diagrams and other tools that guide visual styling and development.</p>
      <a href=""><strong>See Examples</strong></a>
    </article>
    <article>
      <div class="experience-icon alert"><i class="fa fa-eye"></i></div>
      <h3>Visual Design</h3>
      <p>Design mobile-first, responsive websites. Although, I strive to work in the browser as soon as possible, I use the best tool for the job and hop into Photoshop or Sketch when I need to quickly ideate.</p>
      <a href="" data-toggle="modal" data-target="#visualDesignModal"><strong>See Examples</strong></a>
    </article>
    <article>
      <div class="experience-icon warning"><span>&lt;/html&gt;</span></div>
      <h3>Full-Stack Development</h3>
      <p>Develop across the full web stack. I've done everything from provisioning servers and building API backends to creating single page client-side apps and wrangling CSS until the animation felt perfect.</p>
      <a href=""><strong>See Examples</strong></a>
    </article>
    <div class="clearfix"></div>
    <a href="files/Resume - Dmitriy Markus - Knewton 2015.pdf" class="btn hollow-button">See My Resume <i class="fa fa-chevron-right"></i></a>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="visualDesignModal" tabindex="-1" role="dialog" aria-labelledby="visualDesignModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="visualDesignModal">Visual Design</h4>
      </div>
      <div class="modal-body">
        <p>Content here</p>
      </div>
      <div class="modal-footer">
        <a href="mailto:markus.dmitriy@gmail.com?subject=Re:%20UX Designer Position @ Knewton&body=Hi%20Dima,"  class="btn cta modal-cta-button">Got It. Let's Talk <i class="fa fa-chevron-right"></i></a>
        <br>
        <button type="button" class="close-modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>