<section id="experience" class="primary content-block">
  <div class="inner">
    <h2>Relevant Experience</h2>
    <p class="blurb">My determination to take responsibility for a user's entire experience and my love to learn has led me to a wide-range of experiences and skills.</p>
    <article id="exp-research">
      <div class="badge experience-icon success"><i class="fa fa-search"></i></div>
      <h3>Research</h3>
      <p>Conduct user interviews, apply research and analytical know-how (including the gathering and analysis of data) to inform design decisions.</p>
      <a href="/knewton/research"><strong>See Examples</strong></a>
    </article>
    <article id="exp-uxdesign">
      <div class="badge experience-icon"><i class="fa fa-user"></i></div>
      <h3>UX Design</h3>
      <p>Create user-focused experiences by creating journey maps, wireframes, personas, diagrams and other tools that guide visual styling and development.</p>
      <a href="/knewton/ux-design"><strong>See Examples</strong></a>
    </article>
    <article id="exp-design">
      <div class="badge experience-icon alert"><i class="fa fa-eye"></i></div>
      <h3>Visual Design</h3>
      <p>Design mobile-first, responsive websites. While I strive to work in the browser as soon as possible, I often hop into Illustrator or Sketch when it's necessary to ideate quickly.</p>
      <a href="/knewton/visual-design"><strong>See Examples</strong></a>
    </article>
    <article id="exp-development">
      <div class="badge experience-icon warning"><span>&lt;/html&gt;</span></div>
      <h3>Full-Stack Development</h3>
      <p>Develop across the full web stack. I've done everything from provisioning servers and building API backends to creating single page client-side apps and wrangling CSS until the animation felt perfect.</p>
      <a href="#!" data-toggle="modal" data-target="#developmentModal"><strong>See Examples</strong></a>
    </article>
    <div class="clearfix"></div>
    <a href="/files/Resume - Dmitriy Markus - Knewton 2015.pdf" class="btn hollow-button">See My Resume <i class="fa fa-chevron-right"></i></a>
  </div>
</section>