<!-- Research Modal -->
<div class="modal fade" id="researchModal" tabindex="-1" role="dialog" aria-labelledby="researchModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="researchModal">UX Research</h4>
      </div>
      <div class="modal-body">
        <article>
          <img class="img-responsive" src="/images/research/user-personas.png" alt="">
          <p>Create evolving user personas that are updated based on employee, teacher and user interviews.</p>
        </article>
        <article>
          <img class="img-responsive" src="/images/research/experience-map.png" alt="">
          <p>Plout out a student's interaction with our school at every level to find pain points.</p>
        </article>
        <button type="button" class="close-modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- UX Design Modal -->
<div class="modal fade" id="uxDesignModal" tabindex="-1" role="dialog" aria-labelledby="uxDesignModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="uxDesignModal">UX Design</h4>
      </div>
      <div class="modal-body">
        <article>
          <img class="img-responsive" src="/images/ux_design/user-journey.png" alt="">
          <p>Business process maps and user journeys help to better understand and design from a higher level.</p>
        </article>
        <article>
          <img class="img-responsive" src="/images/ux_design/wireframe-timeline.png" alt="">
          <p>Low fidelity wireframe timelines can reveal application components for developers as well as serve as a baseline for visual design.</p>
        </article>
        <article>
          <img class="img-responsive" src="/images/ux_design/module-iterations.png" alt="">
          <p>Complicated content leads to many iterations of a particular UI module exploring various data hierarchies and interaction models.</p>
        </article>
        <article>
          <h3>Example</h3>
          <img class="img-responsive" src="/images/ux_design/modules-wireframe.png" alt="">
          <p>5 variations of a way to present a student’s enrollment into a particular course. </p>
        </article>
        <button type="button" class="close-modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Visual Design Modal -->
<div class="modal fade" id="visualDesignModal" tabindex="-1" role="dialog" aria-labelledby="visualDesignModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="visualDesignModal">Visual Design</h4>
      </div>
      <div class="modal-body">
        <article>
          <img class="img-responsive" src="/images/visual_design/patterns.png" alt="">
          <p>Reusable patterns are designed to be independent but consistent.</p>
        </article>
        <article>
          <img class="img-responsive" src="/images/visual_design/page-design.png" alt="">
          <p>Those patterns are then combined and arranged into pages.</p>
        </article>
        <article>
          <img class="img-responsive" src="/images/development/user-page-desktop.png" alt="">
          <p>The final result running on a desktop browser.</p>
        </article>
        <article>
          <img class="img-responsive shrink-image" src="/images/development/user-page-mobile.png" alt="">
          <p>The final result running on a phone browser.</p>
        </article>
        <button type="button" class="close-modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Development Modal -->
<div class="modal fade" id="developmentModal" tabindex="-1" role="dialog" aria-labelledby="developmentModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="developmentModal">Development</h4>
      </div>
      <div class="modal-body">
        <article>
          <p>Unfortunately I cannot share most of the code I write for work because it is closed source.</p>
          <p>However, here is the source code to this very website. Whilst I used knewton.com as a visual inspiration, I opted to rebuild the html, css and javascript from scratch as opposed to copy and pasting Knewton's code.</p>
          <a href="/files/dimamarkus-knewton.zip" class="btn hollow-button">Download Source Code Zip</a>
        </article>
        <button type="button" class="close-modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>