<!-- Research Modal -->
<div class="modal fade" id="researchModal" tabindex="-1" role="dialog" aria-labelledby="researchModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="researchModal">Research</h4>
      </div>
      <div class="modal-body">
        <p>Content here</p>
        <img class="img-responsive" src="/images/research/experience-map.png" alt="">
        <img class="img-responsive" src="/images/research/user-personas.png" alt="">
      </div>
      <div class="modal-footer">
        <a href="mailto:markus.dmitriy@gmail.com?subject=Re:%20UX Designer Position @ Knewton&body=Hi%20Dima,"  class="btn cta modal-cta-button">Got It. Let's Talk <i class="fa fa-chevron-right"></i></a>
        <br>
        <button type="button" class="close-modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- UX Design Modal -->
<div class="modal fade" id="uxDesignModal" tabindex="-1" role="dialog" aria-labelledby="uxDesignModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="uxDesignModal">UX Design</h4>
      </div>
      <div class="modal-body">
        <p>Content here</p>
        <img class="img-responsive" src="/images/ux_design/module-iterations.png" alt="">
        <img class="img-responsive" src="/images/ux_design/modules.png" alt="">
        <img class="img-responsive" src="/images/ux_design/modules-wireframe.png" alt="">
        <img class="img-responsive" src="/images/ux_design/user-journey.png" alt="">
        <img class="img-responsive" src="/images/ux_design/wireframe-timeline.png" alt="">
        <img class="img-responsive" src="/images/ux_design/wireframes.png" alt="">
      </div>
      <div class="modal-footer">
        <a href="mailto:markus.dmitriy@gmail.com?subject=Re:%20UX Designer Position @ Knewton&body=Hi%20Dima,"  class="btn cta modal-cta-button">Got It. Let's Talk <i class="fa fa-chevron-right"></i></a>
        <br>
        <button type="button" class="close-modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Visual Design Modal -->
<div class="modal fade" id="visualDesignModal" tabindex="-1" role="dialog" aria-labelledby="visualDesignModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="visualDesignModal">Visual Design</h4>
      </div>
      <div class="modal-body">
        <p>Content here</p>
        <img class="img-responsive" src="/images/visual_design/patterns.png" alt="">
        <img class="img-responsive" src="/images/visual_design/page-design.png" alt="">
      </div>
      <div class="modal-footer">
        <a href="mailto:markus.dmitriy@gmail.com?subject=Re:%20UX Designer Position @ Knewton&body=Hi%20Dima,"  class="btn cta modal-cta-button">Got It. Let's Talk <i class="fa fa-chevron-right"></i></a>
        <br>
        <button type="button" class="close-modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Development Modal -->
<div class="modal fade" id="developmentModal" tabindex="-1" role="dialog" aria-labelledby="developmentModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="developmentModal">Development</h4>
      </div>
      <div class="modal-body">
        <p>Content here</p>
      </div>
      <div class="modal-footer">
        <a href="mailto:markus.dmitriy@gmail.com?subject=Re:%20UX Designer Position @ Knewton&body=Hi%20Dima,"  class="btn cta modal-cta-button">Got It. Let's Talk <i class="fa fa-chevron-right"></i></a>
        <br>
        <button type="button" class="close-modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>