<section class="secondary content-block">
  <div class="inner">
    <h4>Effective Communication</h4>
    <p class="blurb">
      I’ve led and executed web projects working with multiple departments. To facilitate communication with teams, I create screencasts, reports, spreadsheets, diagrams and more.
    </p>
    <a href="" data-toggle="modal" data-target="#communicationModal" class="btn">Check out some project <br> artifacts <i class="fa fa-chevron-right"></i></a>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="communicationModal" tabindex="-1" role="dialog" aria-labelledby="communicationModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="communicationModal">Communication</h4>
      </div>
      <div class="modal-body">
        <article>
          <p>I am comfortable presenting my work and have done so in front of teammates, rooms full of coworkers and C level executives.</p>
        </article>
        <article>
          <img class="img-responsive" src="/images/knewton/communication/infrastructure.png" alt="">
          <p>Overview of a website infrastructure tailored to the client's level of knowledge.</p>
        </article>
        <article>
          <img class="img-responsive" src="/images/knewton/communication/infrastructure2.png" alt="">
          <p>An infrastructure diagram created live during a planning session.</p>
        </article>
        <article>
          <img class="img-responsive" src="/images/knewton/communication/timeline1.png" alt="">
          <p>A project timeline for a high level stakeholder that presents an overview without overwhelming details.</p>
        </article>
        <article>
          <img class="img-responsive" src="/images/knewton/communication/timeline2.png" alt="">
          <p>A more technical timeline with milestone details.</p>
        </article>
        <article>
          <img class="img-responsive" src="/images/knewton/communication/erb.png" alt="">
          <p>An entity relationship diagram guides the database design as well as informs content strategy.</p>
        </article>
        <button type="button" class="close-modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>