<section id="skills" class="third-party-logos content-block">
  <div class="inner">
    <h4>Tech Skills</h4>
    <div class="logo-carousel">
      <div><img class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" alt=""></div>
      <div><img class="img-responsive css-icon" src="http://ohdoylerules.com/content/images/knewton/css3.svg" alt=""></div>
      <div><img class="img-responsive" src="http://www.brandsoftheworld.com/sites/default/files/styles/logo-thumbnail/public/082014/js1_0.png" alt=""></div>
      <div><img class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/9/92/Adobe_Photoshop_CS6_icon.svg" alt=""></div>
      <div><img class="img-responsive" src="http://pbs.twimg.com/profile_images/3624493860/d54dde6478efbf389497ea8dac909bff_400x400.png" alt=""></div>
      <div><img class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/7/73/Ruby_logo.svg" alt=""></div>
      <div><img class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/2/27/PHP-logo.svg" alt=""></div>
    </div>
  </div>
</section>