<section id="skills" class="third-party-logos content-block">
  <div class="inner">
    <h4>Tech Skills</h4>
    <div class="logo-carousel">
      <div><img class="img-responsive" src="/images/knewton/tech-icons/html5.svg" alt=""></div>
      <div><img class="img-responsive css-icon" src="/images/knewton/tech-icons/css3.svg" alt=""></div>
      <div><img class="img-responsive js-icon" src="/images/knewton/tech-icons/javascript.png" alt=""></div>
      <div><img class="img-responsive" src="/images/knewton/tech-icons/photoshop.svg" alt=""></div>
      <div><img class="img-responsive" src="/images/knewton/tech-icons/illustrator.svg" alt=""></div>
      <div><img class="img-responsive" src="/images/knewton/tech-icons/ruby.svg" alt=""></div>
      <div><img class="img-responsive" src="/images/knewton/tech-icons/php.svg" alt=""></div>
    </div>
  </div>
</section>