<section id="stats" class="my-stats content-block">
  <div class="inner">
    <ul>
      <li>
        <div class="stat-icon success">
          <span class="number">4</span>
          <br>
          <span class="units">days</span>
        </div>
        <p>Time it took to design and build this page</p>
      </li>
      <li>
        <div class="stat-icon">
          <span class="number">4</span>
          <span class="plus">+</span>
          <br>
          <span class="units">years</span>
        </div>
        <p>Time spent entrenched in the world of web design and development</p>
      </li>
      <li>
        <div class="stat-icon info">
          <span class="number">4</span>
          <span class="plus">+</span>
          <br>
          <span class="units">years</span>
        </div>
        <p>Time it took to design and build this page</p>
      </li>
      <li>
        <div class="stat-icon warning">
          <span class="number">4</span>
          <span class="plus">+</span>
          <br>
          <span class="units">years</span>
        </div>
        <p>Time it took to design and build this page</p>
      </li>
    </ul>
  </div>
</section>