<section id="stats" class="my-stats content-block">
  <div class="inner">
    <ul>
      <li>
        <div class="stat-icon badge success">
          <span class="center">
            <span class="number">5</span>
            <span class="units">days</span>
          </span>
        </div>
        <p>Time it took to design and build this page</p>
      </li>
      <li>
        <div class="stat-icon badge">
          <span class="center">
            <span class="number">5</span>
            <span class="plus">+</span>
            <span class="units">years</span>
          </span>
        </div>
        <p>Time spent entrenched in the world of web design and development</p>
      </li>
      <li>
        <div class="stat-icon badge info">
          <span class="center">
            <span class="number">1k</span>
            <span class="plus">+</span>
            <span class="units">hours</span>
          </span>
        </div>
        <p>Of design and web related podcasts listened to</p>
      </li>
      <li>
        <div class="stat-icon badge warning">
          <span class="center">
            <span class="number">100</span>
            <span class="units">percent</span>
          </span>
        </div>
        <p>Decent personality</p>
      </li>
    </ul>
  </div>
</section>