<!-- Modal -->
<div class="modal fade" id="bugReportModal" tabindex="-1" role="dialog" aria-labelledby="bugReportModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="bugReportModal">Unsolicited Bug Report</h4>
      </div>
      <div class="modal-body">
        <p>Content here</p>
      </div>
      <div class="modal-footer">
        <a href="mailto:markus.dmitriy@gmail.com?subject=Re:%20UX Designer Position @ Knewton&body=Hi%20Dima,"  class="btn cta modal-cta-button">Got It. Let's Talk <i class="fa fa-chevron-right"></i></a>
        <br>
        <button type="button" class="close-modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>