<footer class="content-block">
  <div class="inner">
    <ul>
      <li>Introduction</li>
      <li><a href="#introduction">Overview</a></li>
      <li><a href="#!" data-toggle="modal" data-target="#introModal">Why Me</a></li>
    </ul>
    <ul>
      <li>Relevant Experience</li>
      <li><a href="#experience">All</a></li>
      <li><a href="#exp-research">Research</a></li>
      <li><a href="#exp-uxdesign">UX Design</a></li>
      <li><a href="#exp-design">Visual Design</a></li>
      <li><a href="#exp-development">Full Stack Development</a></li>
    </ul>
    <ul>
      <li>About</li>
      <li><a href="#skills">Tech Skills</a></li>
      <li><a href="#stats">Stats</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="mailto:markus.dmitriy@gmail.com?subject=Re:%20UX Designer Position @ Knewton&body=Hi%20Dima,"><strong>Email Me</strong></a></li>
    </ul>
    <ul>
      <li>P.S.</li>
      <li><a href="#!" data-toggle="modal" data-target="#bugReportModal">Bug Report</a></li>
    </ul>
    <div class="clearfix"></div>
    <br>
    <ul class="social-icons">
      <li><a target="_blank" href="https://twitter.com/dimamarkus"><i class="fa fa-2x fa-twitter"></i></a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/dimamarkus"><i class="fa fa-2x fa-linkedin"></i></a></li>
      <li><a target="_blank" href="https://github.com/dimamarkus"><i class="fa fa-2x fa-github"></i></a></li>
      <li><a target="_blank" href="https://www.facebook.com/dimamarkus"><i class="fa fa-2x fa-facebook"></i></a></li>
    </ul>
    <a class="logo-link" href="/knewton">
      <img class="logo" src="/images/knewton/logo-white.png" alt="">
    </a>
  </div>
</footer>