<section id="introduction" class="introduction content-block">
  <div class="inner">
    <h1>Hi. I'd Like To Join Your Team</h1>
    <p class="blurb">I'm a UX designer that builds his own ideas. <br><br> I have been designing and developing applications for students and administrators at a music school for 2 years and am ready to take the next step.</p>
    <a href="" class="btn hollow-button" data-toggle="modal" data-target="#introModal">Why am I right for Knewton? <i class="fa fa-chevron-right"></i></a>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="introModal" tabindex="-1" role="dialog" aria-labelledby="introModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="introModal">Perfect For Knewton</h4>
      </div>
      <div class="modal-body">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Being entirely self taught by countless online lectures, MOOCs, tutorials, articles, podcasts, e-books and more, I have personally experienced how empowering technology is to the education industry.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;I have gone on to become a producer, as well as a result, of this new era of learning. Working at a music school with a lean team allowed me to think about and create a wide array of digital experiences for both physical and online classrooms, teachers and staff.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;I can think about an idea from many angles and every level of the digital design process. From whiteboarding the overall product experience to debugging a JavaScript error, I would bring value to my team at Knewton in a powerful way; Acting as a glue between designers, developers, product managers and turning our work into results and delight for Knewton’s users.</p>
      </div>
      <div class="modal-footer">
        <a href="mailto:markus.dmitriy@gmail.com?subject=Re:%20UX Designer Position @ Knewton&body=Hi%20Dima,"  class="btn cta modal-cta-button">Got It. Let's Talk <i class="fa fa-chevron-right"></i></a>
        <br>
        <button type="button" class="close-modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


