<!-- Modal -->
<div class="modal fade" id="bugReportModal" tabindex="-1" role="dialog" aria-labelledby="bugReportModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="bugReportModal">Unsolicited Bug Report</h4>
        <p>While exploring Knewton’s site I noticed 2 things that I want to draw your attention to.* </p>
      </div>
      <div class="modal-body">
        <article>
          <h3>Career/Cheat Page</h3>
          <img class="img-responsive" src="/images/knewton/bug_report/cheat-mode.png" alt="">
          <p>The <a href="http://www.knewton.com/company/careers/cheat/">cheat mode</a> link on the <a href="http://www.knewton.com/company/careers/">Careers page</a> leads to a 404 error.</p>
        </article>
        <article>
          <h3>404 Page</h3>
          <img class="img-responsive shrink-image" src="/images/knewton/bug_report/broken-links.png" alt="">
          <p>The links on the <a href="http://www.knewton.com/nonexistant-page">404 page</a> template recursively lead back to the same page instead of their implied destinations.</p>
        </article>
        <article>
          <h3>Contact Page</h3>
          <img class="img-responsive" src="/images/knewton/bug_report/contact-page.png" alt="">
          <img class="img-responsive" src="/images/knewton/bug_report/console-error.png" alt="">
          <p>The https version of the <a href="https://www.knewton.com/company/contact">Contact</a> page is broken in Chrome, Firefox, and IE9+ because a formstack.com script is being blocked.</p>
          <p>It seems that this is due to a <a href="">new policy</a> implemented in those browsers.</p>
          <p>
            <a href="">Here</a> is a potential fix: <br>
            <small>Start your script tag with</small><br>
            <strong>src="//www.formstack..."</strong><br>
            <small>instead of</small><br>
            <strong>src="https://www.formstack..."</strong>
          </p>
        </article>
        <a href="mailto:markus.dmitriy@gmail.com?subject=Re:%20UX Designer Position @ Knewton&body=Hi%20Dima,"  class="btn cta modal-cta-button">Lets Discuss Further <i class="fa fa-chevron-right"></i></a>
      </div>
      <section class="secondary">
        <p>*I know maintaining a web site is no simple task and you may already be aware-of and working-on these issues. In which case, I apologize for being presumptuous.</p>
      </section>
      <div class="modal-footer">
        <br>
        <button type="button" class="close-modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>