<!-- Development Modal -->
<div class="modal fade" id="developmentModal" tabindex="-1" role="dialog" aria-labelledby="developmentModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="developmentModal">Full Stack Development</h4>
      </div>
      <div class="modal-body">
        <article>
          <p>The majority of the code that I write for work is closed source, so I am not able to share it freely (I can gladly show it to you in person). However, here is the source code to this very website. </p>
          <p>While I used knewton.com as a visual inspiration, I chose to rebuild the html, css and javascript from scratch as opposed to copy and pasting Knewton's code.</p>
          <br><br>
          <a href="/files/knewton_application-source.zip" class="btn hollow-button">Download Source Code Zip</a>
          <button type="button" class="close-modal-button under-button-link" data-dismiss="modal">Close</button>
        </article>
      </div>
    </div>
  </div>
</div>