<!-- UX Design Modal -->
<div class="modal fade" id="uxDesignModal" tabindex="-1" role="dialog" aria-labelledby="uxDesignModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="uxDesignModal">UX Design</h4>
      </div>
      <div class="modal-body">
        <article>
          <img class="img-responsive" src="/images/knewton/ux_design/user-journey.png" alt="">
          <p>Business process maps and user journeys help to better understand a user's experience and design it from a higher level.</p>
        </article>
        <article>
          <img class="img-responsive" src="/images/knewton/ux_design/wireframe-timeline.png" alt="">
          <p>Low fidelity wireframe timelines can reveal application components for developers as well as serve as a baseline for visual design.</p>
        </article>
        <article>
          <img class="img-responsive" src="/images/knewton/ux_design/module-iterations.png" alt="">
          <p>Complicated content leads to many iterations of a particular UI module exploring various data hierarchies and interaction models.</p>
        </article>
        <article>
          <h3>Example</h3>
          <img class="img-responsive" src="/images/knewton/ux_design/modules-wireframe.png" alt="">
          <p>5 variations of a way to present a student’s enrollment into a particular course. </p>
        </article>
        <button type="button" class="close-modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
