<!-- Visual Design Modal -->
<div class="modal fade" id="visualDesignModal" tabindex="-1" role="dialog" aria-labelledby="visualDesignModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="visualDesignModal">Visual Design</h4>
      </div>
      <div class="modal-body">
        <article>
          <img class="img-responsive" src="/images/knewton/visual_design/patterns.png" alt="">
          <p>Reusable patterns are designed to be independent but consistent.</p>
        </article>
        <article>
          <img class="img-responsive" src="/images/knewton/visual_design/page-design.png" alt="">
          <p>Those patterns are then combined and arranged into pages.</p>
        </article>
        <article>
          <img class="img-responsive" src="/images/knewton/development/user-page-desktop.png" alt="">
          <p>The final result running on a desktop browser.</p>
        </article>
        <article>
          <img class="img-responsive shrink-image" src="/images/knewton/development/user-page-mobile.png" alt="">
          <p>The final result running on a phone browser.</p>
        </article>
        <button type="button" class="close-modal-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>