<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" class="no-js">

  {% include head.html %}

	<body>

		{% include header.html %}

		{{ content }}

    {% include footer.html %}

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.6/slick.min.js"></script>
    <script src="/js/main.js"></script>

 	</body>
</html>